.profile__subtitle {
    color: #fff;
    margin: 16px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 918px) {
    .profile__subtitle {
        max-width: 260px;
    }
}